.auth-form-container {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 53px;
    padding-bottom: 53px;
    padding-right: 24px;
    padding-left: 24px;
    border-width: 10px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 80px;
}

.register-form{
    border-color: rgba(182, 225, 61, 1);
}

.signup-form{
    border-color: #F6C002;
}

.label-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;

    position: static;
    width: 300px;
    height: 188px;
    left: 53px;
    top: 98px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 23px 0px;
}
.form-title-1 {
    position: static;
    width: 240px;
    height: 100px;
    left: 0px;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.form-title-2 {
    position: static;
    width: 288px;
    height: 80px;
    left: 0px;
    top: 108px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}
.div-4 {
    display: flex;
    flex-direction: column;
    max-width: 313px;
    margin-top: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.div-5 {
    display: flex;
}
@media (max-width: 999px) {
    .div-5 {
        flex-direction: column;
        align-items: stretch;
    }
}
.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(103.17% - 0px);
    margin-left: 0px;
}
@media (max-width: 999px) {
    .column {
        width: 100%;
    }
}
.form-prompt {
    max-width: 293px;
    font-size: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.map-page{
    /* Register Page */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 35px 25px 35px 0px;

    position: relative;
    width: 1438px;
    height: 1015px;
}

.auth-background{
    /* justify-content: center; */
    background: url("images/original-street-cleaning-sf-website.png");
}

.main-page-background{
    background: url("images/selecting-street-cleanning-schedule.svg");
}

.map-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 31px;

    position: static;
    width: 141px;
    height: 49px;
    left: 1272px;
    top: 35px;

    background: #000000;
    border: 0.6px solid #8E8383;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 0px 0px;
}

.form-input{
    margin: 5px 0px 5px 0px;
}

.register-btn{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 144px;

    position: absolute;
    width: 341px;
    height: 56px;
    left: 31.5px;
    top: 331px;

    background: url("images/register-button.svg");
    border: 0.6px solid #8E8383;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-button{
    width: 290px;
    height: 49px;
    margin: 5px 0px 5px 0px;
}

.third-party-auth{
    width: 250px;
    height: 49px;
    margin: 5px 0px 5px 0px;
}

.nav-bar{
    /* nav-bar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 346px;
    height: 70px;
    left: 1063px;
    top: 35px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.nav-item{
    position: static;
    width: 55px;
    height: 62px;
    top: 4px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 15px;
}

.favor-icon{
    left: 2px;
    background: url("images/favor-icon.svg");
    order: 0;
}

.unfavor-icon{
    left: 2px;
    background: url("images/unfavor-icon.svg");
    order: 0;
}

.favorite-list{
    left: 78px;
    background: url("images/favorite-list.svg");
    order: 1;
}

.share-icon{
    left: 154px;
    width: 50px;
    height: 50px;
    background: url("images/share-icon.svg");
    order: 2;
}

.user-icon {
    width: 100px;
    height: 100px;
    /* top: -16.5px;
    left: 230px; */

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */

    background: url("images/user-icon.svg");
    order: 3;
}

.user-popup-placeholder{
    order: 1;
}

.user-popup{
    position: absolute;

    height: 230px;
    width: 176px;
    top: 114.8946533203125px;
    
    right: 28.95px;
    bottom: -213.59%;
    
    background: url("images/pop-up-dialogue.svg");

    /* background: #FFFFFF; 
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;*/

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.user-popup-button{
    position: static;
    width: 140.63px;
    height: 50px;
    left: 0px;
    top: 30px;
    
    /* background: #FFFFFF; 
    border: 1px solid #000000;*/
    box-sizing: border-box;
    border-radius: 5px;
    /* padding-top: px; */
    margin: 10px 0px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    /* or 44% */
    
    text-align: center;
    letter-spacing: 0.2px;
}

.setting-button{
    order: 0;
}

.logout-button{
    order: 1;
    background: #55bb33;
    color: #FFFFFF;
}

.list-background{
    /* Managing List of Favorite Streets */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;

    position: relative;
    width: 1440px;
    height: 1015px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.list-nav-bar{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    position: static;
    width: 1440px;
    height: 103px;
    left: 35px;
    /* top: 18px; */


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.close-icon{
    position: static;
    width: 65px;
    height: 50px;
    left: 0px;
    top: 17px;
    
    background: url("images/close-icon.svg");
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px;  
}

.page-title{
    position: static;
    width: 723px;
    height: 28px;
    left: 10px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 28px;
    /* identical to box height, or 29% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    color: #000000;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.street-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    position: static;
    width: 1024px;
    height: 614px;
    left: 2px;
    top: 307px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 69px 0px;
}

.street-card{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 791px;
    padding: 3px;

    position: static;
    left: 1.09%;
    right: 1.09%;
    top: 1.63%;
    bottom: 75.41%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    margin: 10px 0px;
}

.street-info{
    position: static;
    width: 300px;
    height: 130px;
    left: 0px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 136%;
    /* or 44px */
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
}

.direction-label{
    position: static;
    width: 38px;
    height: 77px;
    left: 460px;
    top: 29.5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px 0px 100px;
}

.street-item{
    position: static;
    width: 84px;
    height: 84px;
    left: 600.33px;
    top: 14.5px;

    flex: none;
    flex-grow: 0;
    margin: 0px 10px 0px 30px;   
}

.yellow-bell{
    order: 2;
    background: url("images/yellow-bell.svg");
}

.white-bell{
    width: 67px;
    height: 78px;
    order: 2;
    background: url("images/white-bell.svg");
}

.remove-icon{
    width: 101px;
    height: 76px;
    left: 776px;
    top: 18.5px;

    order: 3;
    background: url("images/remove-icon.svg");
    margin: 0px 20px 0px 10px; 
}

.share-dialogue-placeholder{
    flex: none;
    order: 3;
    flex-grow: 0;
}

.share-dialogue-container{
    position: relative;
    width: 1327px;
    height: 882px;
    left: 25px;
    top: 20px;

    background: url("images/share-dialogue.png");

    border-radius: 5px;
}

.dialogue-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 71px;
    
    position: absolute;
    width: 940px;
    height: 750px;
    left: 223px;
    top: 205px;
    
    background: #FFFFFF;
    border: 4px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.dialogue-row{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.popup-title{
    position: static;
    width: 620px;
    height: 136px;
    left: 10px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 28px;
    /* or 29% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;

    order: 0;
    margin: 50px 0px 10px 0px;
}

.popup-headline{
    position: static;
    width: 490px;
    height: 73px;
    left: 10px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 136%;
    /* or 73px */
    
    text-align: center;
    color: #000000;
    
    /* Inside auto layout */
    order: 1;
    margin: 10px 0px 10px 0px;
}

.popup-headline-2{
    position: static;
    width: 479px;
    height: 73px;
    left: 10px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 136%;
    /* or 73px */
    
    text-align: center;
    color: #000000;
    
    /* Inside auto layout */
    order: 1;
    margin: 10px 0px 100px 0px;
}

.popup-button-row{
    position: static;
    width: 647.13px;
    height: 139px;
    left: 146.44px;
    top: 435px;
    
    
    /* Inside auto layout */
    order: 2;
    margin: 20px 0px 20px 0px;
}

.popup-button{
    position: static;
    width: 260.63px;
    height: 120px;
    left: 0px;
    top: 30px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    /* or 44% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    color: #000000;
}

.yes-button{
    margin-right: auto;
    order: 0;
}

.no-button{
    margin-left: auto;
    order: 1;
}

.popup-dropdown-row{
    position: static;
    width: 600px;
    height: 73px;
    left: 10px;
    top: 10px;

    justify-content: left;
    align-items: left;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 136%;
    /* or 73px */
    
    text-align: center;
    color: #000000;
    
    /* Inside auto layout */
    margin: 10px 0px 10px 0px;
}

.hours-dropdown-row{
    order: 2;
}

.hours-dropdown{
    margin: 0px 25px 0px 0px;
}

.repeat-dropdown-row{
    order: 3;
}

.dropdown-right{
    margin: 0px 0px 0px 25px;
}

.mode-dropdown-row{
    order: 4;
}

.reminder-popup-button-row{
    order: 5;
}